.company-header{
    width: 100%;
    height: 175px;
    background-color: #E2D2D4;
}

.company-title{
    font-family: 'Brygada 1918', serif;
    color: #6A6363;
    text-align: center;
    padding-top: 35px;
}
.nav{
    justify-content: center;
    background-color: #6A6363;
}
.nav-link{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.jumbotron{
    background-image: url(/Users/daiseefuentes/Desktop/daiseef.github.io/daiseef.github.io/burningcandle.jpg);
    height: 350px;
    max-width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
.display-4{
    font-family: 'Brygada 1918', serif;
    padding: 20px;
    color: #F1ECEC;
}
.bio{
    font-family: 'Brygada 1918', serif;
    padding-left: 20px;
    color: #F1ECEC;
}
#button {
    font-family: 'Raleway', sans-serif; 
}

.footer{
    position: fixed;
    height:150px;
    width: 100%;
    bottom: 0;
}